
			
			


				<div id="formlook" ng-controller="formController">
				<!--form for the user search-->
					<div class="formwrapper">
					<form>
						<h3> Name </h3>

						<input type = text ng-model = "name" />

						<h3> Location </h3>

						<input type = text ng-model = "noun" />

				
						<br>
					<!--button to send results below-->


						<button ng-click="save()" class="button button-3d button-box button-jumbo"><i class="fa fa-thumbs-up">Go!</i></button>
					</form>
					</div>
				</div>	
			

</body>
