<body ng-controller="formController">
			<div id = "title">
				<h1> CurrentSee </h1>
				<hr>
				<h2> A MadLib Website </h2>
			</div>



			<div id = "formLook">
				<h3> Name </h3>

				<input type = text ng-model = "name" />

				<h3> Noun </h3>

				<input type = text ng-model = "noun" />

				<h3> Noun 2 </h3>

				<input type = text ng-model = "noun2"/>

				<h3> Adjective </h3>

				<input type = text ng-model = "adjective"/>

				<h3> Adjective 2</h3>

				<input type = text ng-model = "adjective2"/>

				<h3> Verb</h3>

				<input type = text ng-model = "verb"/>

				<h3> Verb 2</h3>

				<input id = "loser" type = text ng-model = "verb2"/>

				<!--<button class="button" ng-click="save()">Submit</button> -->


				<button ng-click="save()" class="button button-3d button-box button-jumbo"><i class="fa fa-thumbs-up">Go!</i></button>

				</div>

</body>
