body{
	background-color:white;
}

a {
	text-decoration: none;
	color:#04ECFF;
	}
	
h1{
	text-align:center;
	text-decoration:none;
	font-family:'Gravitas One';
	span{
	font-family:'Gravitas One';
	color:#0d97ff;
	}
	
}

#view{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	background-color:#0d97ff;
}

#formlook{
  	border:dotted black 1px;
	margin:25px auto 25px auto;
 	padding:50px auto 50px auto;

 	.formwrapper{
 		border:dotted black 1px;
 		margin:50px auto 50px auto;

 		form{
 		color:white;
		text-align:center;
		}

 	}
	
resultslook{
	margin:25px auto 25px auto;

}

}

